version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: school-app
    container_name: school-app
    restart: unless-stopped
    working_dir: /var/www
    env_file:
      - .env.docker
    volumes:
      - .:/var/www
    networks:
      - school-network
    depends_on:
      - db

  webserver:
    image: nginx:alpine
    container_name: school-webserver
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    networks:
      - school-network
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: school-db
    restart: unless-stopped
    env_file:
      - .env.docker
    environment:
      MYSQL_DATABASE: ${DB_DATABASE:-laravel}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-secret}
      MYSQL_PASSWORD: ${DB_PASSWORD:-secret}
      MYSQL_USER: ${DB_USERNAME:-laravel}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - school-network
    ports:
        - "3306:3306"

networks:
  school-network:
    driver: bridge

volumes:
  dbdata:
    driver: local
